<form #kitty="ngForm" (ngSubmit)="onFormSubmit(kitty.value)">

  <label for = "kittyName">Имя котика</label>
  <input type="text" id="kittyName" name="kittyName" ngModel>
  <br>
  <label for="breed">Порода</label>
  <select id="breed" name="breed" ngModel>
    <option *ngFor="let breed of breeds" value="{{breed.id}}">{{breed.name}}</option>
  </select>
  <br>
  <input type="submit" value="Добавить">
</form>

