<h1>{{title}}</h1>

<app-show-kitties [breeds]="breeds"  [cats]="cats"></app-show-kitties>

<app-add-kitties [breeds]="breeds" (newKitty)="onNewKitty($event)"></app-add-kitties>


<nav>
  <a [routerLink] = "['/show']" [state]="{breeds: breeds, cats: cats}">Посмотреть котиков</a>
  <a [routerLink] = "['/add']" [state]="{breeds: breeds}">Добавить котика </a>
</nav>
<router-outlet></router-outlet>

<router-outlet></router-outlet>
